.nested-fields
  .form-group
    = f.label :dayofweek, "診療曜日"
    = f.collection_check_boxes(:day_of_weeks, @dayofweeks, :id, :name,include_hidden: false)
  .form-group
    = f.label :start_at, "開始時間"
    = f.time_select :start_at
  .form-group
    = f.label :end_at, "終了時間"
    = f.time_select :end_at
    %br
    = link_to_remove_association '削除', f