= render 'layouts/flash_messages'

%h1.test すべての病院一覧

%h3 文字列検索
= search_form_for @q, url: search_clinics_path do |f|
  = f.label :clinic_name_cont, '検索キーワード'
  = f.search_field :clinic_name_cont
  %br
  = f.submit '検索'

%ul.list-group
  - @clinics.each do |clinic|
    = link_to(clinic, class: "list-group-item list-group-item-action") do
      %h5.list-group-item-heading= clinic.clinic_name