= render 'layouts/flash_messages'

.text-center
  %h5.mt-5
  = search_form_for @q, url: search_clinics_path do |f|
    = f.label :clinic_name_cont, '検索キーワード'
    = f.search_field :clinic_name_cont
    = f.submit '検索'

.table-responsive.pt-5
  %table.table.table-sm
    %thead.bg-info.text-white
      %tr
        %th 地区ID
        %th 病院名
        %th よみがな
        %th 診療科
        %th PDF・地図
    %tbody
      - @clinics.each do |clinic|
        %tr{"data-link" => "#{clinic_path(clinic.id)}"}
          %td= clinic.location.area.name
          %td= clinic.clinic_name
          %td= clinic.clinic_furigana
          %td= clinic.departments.pluck(:department_name).join(" / ")
          %td
            - if clinic.pdf?
              = link_to clinic_download_path(clinic_id:clinic.id, file_name: clinic.pdf_identifier),method: :get do
                %i.far.fa-file-pdf.mr-3
            = link_to clinic_path(id:clinic.id,anchor: 'location-map'),method: :get do
              %i.fas.fa-map-marked-alt

:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })

-# :css
-#   tr:hover td {
-#     background: #ecf2fa;
-#     cursor:pointer;
-#   }

-# %ul.list-group
-#   - @clinics.each do |clinic|
-#     = link_to(clinic, class: "list-group-item list-group-item-action d-inline-flex") do
-#       %h5.list-group-item.col-2.border-0= clinic.location.area.name
-#       %h5.list-group-item.col-4.border-0= clinic.clinic_name
-#       %h5.list-group-item.col-4.border-0= clinic.departments.pluck(:department_name)
-#       %h5.list-group-item.col-2.border-0 地図アイコン、PDFアイコン
