= render 'layouts/flash_messages'

.text-center
  %h5.mt-5
  = search_form_for @q, url: search_clinics_path do |f|
    = f.label :clinic_name_cont, '検索キーワード'
    = f.search_field :clinic_name_cont
    = f.submit '検索'

= render 'clinic_table', clinic: @clinic 

:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
