= render 'layouts/flash_messages'

.text-center
  %h5.mt-5
  = search_form_for @q, url: search_clinics_path do |f|
    = f.label :clinic_name_cont, '病院名検索'
    = f.search_field :clinic_name_cont
    = f.submit '検索'

.table-responsive.pt-5
  %table.table.table-sm
    %thead.bg-info.text-white
      %tr
        %th 地区ID
        %th 病院名
        %th よみがな
        %th 診療科
        %th PDF・地図
    %tbody
      - @clinics.each do |clinic|
        %tr{"data-link" => "#{clinic_path(clinic.id)}"}
          %td= clinic.clinic_admin_number
          %td= clinic.clinic_name
          %td= clinic.clinic_furigana
          %td= clinic.departments.pluck(:department_name).join(" / ")
          %td
            - if clinic.pdf?
              = link_to clinic_download_path(clinic_id:clinic.id, file_name: clinic.pdf_identifier),method: :get do
                %i.far.fa-file-pdf.mr-3
            = link_to clinic_path(id:clinic.id,anchor: 'location-map'),method: :get do
              %i.fas.fa-map-marked-alt

:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
