%h1.mt-2 病院登録

= form_for @clinic, url: clinics_path, html: { class: "form-horizontal" } do |f|
  #errors
  .form-group
    = f.label :clinic_name
    = f.text_field :clinic_name, class: "form-control"
  .form-group
    = f.label :clinic_furigana
    = f.text_field :clinic_furigana, class: "form-control"
  .form-group
    = f.label :clinic_admin_number
    = f.text_field :clinic_admin_number, class: "form-control"
  .form-group
    = f.label :director_name
    = f.text_field :director_name, class: "form-control"
  .form-group
    = f.label :phone_number
    = f.text_field :phone_number, class: "form-control"
  .form-group
    = f.label :introduction
    = f.text_area :introduction, class: "form-control", row: 10
  .form-group
    = f.label :pdf
    = f.file_field :pdf
  -# = f.fields_for :clinic_departments do |ff|
  -#   .form-group
  -#     = ff.label :department_id
  -#     = ff.collection_select :department_id, ff.object.selectable_departments , :id, :department_name,include_hidden: false
  = f.fields_for :consultation_hours do |fn|
    .form-group
      = fn.label :start_at, "開始時間"
      = fn.time_select :start_at
    .form-group
      = fn.label :end_at, "終了時間"
      = fn.time_select :end_at
    .form-group
      = fn.label :day_of_week
      = fn.collection_select :day_of_week_id,fn.object.selectable_dayofweeks, :id, :dayofweek_name,include_hidden: false

  = f.submit class: "btn btn-primary"