%h1.mt-2 病院登録

= form_for @clinic, url: clinics_path ,html: { class: "form-horizontal" } do |f|
  #errors
  .form-group
    = f.label :clinic_name
    = f.text_field :clinic_name, class: "form-control"
  .form-group
    = f.label :clinic_furigana
    = f.text_field :clinic_furigana, class: "form-control"
  .form-group
    = f.label :clinic_admin_number
    = f.text_field :clinic_admin_number, class: "form-control"
  .form-group
    = f.label :director_name
    = f.text_field :director_name, class: "form-control"
  .form-group
    = f.label :phone_number
    = f.text_field :phone_number, class: "form-control"
  .form-group
    = f.label :introduction
    = f.text_area :introduction, class: "form-control", row: 10
  = f.fields_for :clinic_departments do |ff|
    .form-group
      = ff.label :department_id
      = ff.collection_select :department_id, @departments, :id, :department_name
  -# = f.fields_for :consultation_hours do |fn|
  -#   .form-group
  -#     = fn.label :day_of_week_id
  -#     = fn.collection_check_boxes :day_of_week_id, @dayofweeks, :id, :day_of_week
  = f.fields_for :location do |fin|
    .form-group
      = fin.label :address
      = fin.text_field :address
    .form-group
      = fin.label :post_address
      = fin.text_field :post_address
    .form-group
      = fin.label :area_id
      = fin.collection_select :area_id, @areas, :id, :name
    .form-group
      = f.check_box :is_valid, checked: true
      = f.label :is_valid, "公開する"

  = f.submit class: "btn btn-primary"
