= render 'layouts/flash_messages'


%h1.mt-3.mb-3
  %span.border.border-right-0.border-left-0.border-info.admin-num.align-self-center= @clinic.clinic_admin_number
  %br
  = @clinic.clinic_name
  .text-muted.d-inline-flex.small
    = @clinic.clinic_furigana

%p
- if user_signed_in?
  = link_to "編集", edit_clinic_path, class: "btn btn-info btn-sm mb-3"
  = link_to "お知らせを書く", new_clinic_announcement_path(@clinic.id), class: "btn btn-info btn-sm mb-3"

-if @announcements.present?
  .my-3.p-3.bg-white.rounded.shadow-sm
    %h6.border-bottom.pb-2.mb-0 お知らせ
    - @announcements.each do |announce|
      .d-flex.text-muted.pt-3
        .pb-3.mb-0.small.lh-sm.border-bottom.w-100
          .d-flex.justify-content-between
            - if announce.priority == 2
              %strong.text-danger= announce.body
            - else
              %strong= announce.body

            %span= announce.user.username
            %span.text-muted= l announce.updated_at
            - if user_signed_in? && current_user.id==announce.user_id
              = link_to "お知らせを編集", edit_clinic_announcement_path(@clinic.id,announce.id)

.row.d-flex.justify-content-between.mt-5
  .col-5.align-self-center
    .text-center
      - if @clinic.pdf?
        = link_to clinic_download_path(clinic_id:@clinic.id, file_name: @clinic.pdf_identifier),method: :get do
          %i.far.fa-file-pdf.fa-2x
          PDFをダウンロード
        %br
        = image_tag @clinic.pdf_url(:thumb)
      - else
        %i.fas.fa-image.fa-3x
        %br
        NO PDF
      

  .col-5
    %h5.mt-3.pb-2.sub-title 診療科
    %p
      = @clinic.departments.pluck(:department_name).join(" / ")

    %h5.mt-5.pb-2.sub-title 診療時間
    %table.table.table-bordered.mt-3
      %thead
        %tr
          %th{scope: "col"}診療時間
          - @weeks.each do |week|
            %th=week.name
        %tbody
        - @clinic.consultation_hours.each do |hour|
          %tr
            %th.text-nowrap= "#{hour.start_at.strftime('%H:%M')} ~ #{hour.end_at.strftime('%H:%M')}"
            - (1..8).each do |n|
              - if hour.day_of_weeks.include?(n)
                %td="◯"
              - else
                %td="-"

%h5.mt-5.pb-2.sub-title 紹介文
.col.introduction-data.text-muted
  = @clinic.introduction

%h5.mt-5.pb-2.sub-title 施設情報
%p
  TEL 
  = @clinic.phone_number
  %br
  〒
  = @clinic.location.post_address
  %br
    %span.badge.badge-info=@clinic.location.area.name
    = @clinic.location.address
  %br
  %i.fa.fa-user-md.fa-2x{"aria-hidden" => "true"}
  医院長名:
  = @clinic.director_name

%h5#location-map.mt-5.pb-2.sub-title 所在地

:css
  #map { height: 300px;}
%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"}
%script{src: "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{src: "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type: "text/javascript"}
#map
:javascript
  function initMap() {
    var latlng = new google.maps.LatLng(
      #{@clinic.location.latitude},
      #{@clinic.location.longitude}
      );
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: latlng
    });
    var marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
    var infowindow = new google.maps.InfoWindow({
      content: '<a href="https://www.google.com/maps/search/?api=1&query=#{@clinic.location.latitude},#{@clinic.location.longitude}" target="_blank" rel="noopener noreferrer">google mapで開く</a>',
    });
    infowindow.open(map, marker);
    google.maps.event.addListener(infowindow, "closeclick", function() {
      google.maps.event.addListenerOnce(marker, "click", function(event) {
        infowindow.open(map, marker);
      });
    });
  }
  initMap();
