%h1 マイページ

.my-3.p-3.bg-white.rounded.shadow-sm
  .row
    .col-2.ml-3
      %i.fa.fa-user-circle.fa-5x{"aria-hidden" => "true"}
    .col-5
      %p.mt-3.mb-0
        ユーザID
      .font-weight-bolder.font-italic.ml-2
        = @user.id

      %p.mt-3.mb-0 ユーザ名
      .font-weight-bolder.font-italic.ml-2
        = @user.username

%h5 登録or編集した病院一覧

.table-responsive.mt-5.shadow-sm
  %table.table.table-sm
    %thead.bg-info.text-white
      %tr
        %th 地区ID
        %th 病院名
        %th よみがな
        %th 診療科
        %th 
    %tbody
      - @post_clinics.each do |clinic|
        %tr{"data-link" => "#{clinic_path(clinic.id)}"}
          %td= clinic.location.area.name
          %td= clinic.clinic_name
          %td= clinic.clinic_furigana
          %td= clinic.departments.pluck(:department_name).join(" / ")
          %td= clinic.location.area.name

.my-3.p-3.bg-white.rounded.shadow-sm
  %h6.border-bottom.pb-2.mb-0 投稿したお知らせ一覧
  - @announses.each do |announce|
    = link_to(announce.clinic, class: "d-flex text-muted pt-3") do
      .pb-3.mb-0.small.lh-sm.border-bottom.w-100
        .d-flex.justify-content-between
          %strong.text-gray-dark= announce.body
        %span= announce.clinic.clinic_name
        %span= l announce.updated_at
    
:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })

