%h1 マイページ

%p ユーザID
= @user.id

%h5 登録or編集した病院一覧
%ul.list-group
  - @post_clinics.each do |clinic|
    = link_to(clinic, class: "list-group-item list-group-item-action") do
      %h5.list-group-item-heading= clinic.clinic_name

%h5 投稿したお知らせ一覧
%ul.list-group
  - @announses.each do |announce|
    = link_to(announce.clinic, class: "list-group-item list-group-item-action") do
      %h5.list-group-item-heading= announce.body + '-' + announce.clinic.clinic_name

