%h1 マイページ

.my-3.p-3.bg-white.rounded.shadow-sm
  .row
    .col-5
      %i.fa.fa-user-circle.fa-5x{"aria-hidden" => "true"}
      %p ユーザID
      = @user.id

      %p ユーザ名
      = @user.username

    .col-7
      .my-3.p-3.bg-white.rounded.shadow-sm
        %h6.border-bottom.pb-2.mb-0 投稿したお知らせ一覧
        - @announses.each do |announce|
          = link_to(announce.clinic, class: "d-flex text-muted pt-3") do
            .pb-3.mb-0.small.lh-sm.border-bottom.w-100
              .d-flex.justify-content-between
                %strong.text-gray-dark= announce.body
              %span= announce.clinic.clinic_name
              %span= l announce.updated_at

%h5 登録or編集した病院一覧

.table-responsive.mt-5.shadow-sm
  %table.table.table-sm
    %thead.bg-info.text-white
      %tr
        %th 地区ID
        %th 病院名
        %th よみがな
        %th 診療科
        %th 
    %tbody
      - @post_clinics.each do |clinic|
        %tr{"data-link" => "#{clinic_path(clinic.id)}"}
          %td= clinic.location.area.name
          %td= clinic.clinic_name
          %td= clinic.clinic_furigana
          %td= clinic.departments.pluck(:department_name)
          %td= clinic.location.area.name
          
-# %h5 投稿したお知らせ一覧
-# %ul.list-group
-#   - @announses.each do |announce|
-#     = link_to(announce.clinic, class: "list-group-item list-group-item-action") do
-#       %h5.list-group-item-heading= announce.body + '-' + announce.clinic.clinic_name

.my-3.p-3.bg-white.rounded.shadow-sm
  %h6.border-bottom.pb-2.mb-0 投稿したお知らせ一覧
  - @announses.each do |announce|
    = link_to(announce.clinic, class: "d-flex text-muted pt-3") do
      .pb-3.mb-0.small.lh-sm.border-bottom.w-100
        .d-flex.justify-content-between
          %strong.text-gray-dark= announce.body
        %span= announce.clinic.clinic_name
        %span= l announce.updated_at

-# .my-3.p-3.bg-white.rounded.shadow-sm
-#   %h6.border-bottom.pb-2.mb-0 おすすめ
-#   .d-flex.text-muted.pt-3
-#     .pb-3.mb-0.small.lh-sm.border-bottom.w-100
-#       .d-flex.justify-content-between
-#         %strong.text-gray-dark フルネーム
-#       %span.d-block @username
    
:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })

