%h5= @department.department_name

-# - @department.clinic_departments.each do |department_clinic|
-#   = link_to(department_clinic.clinic, class: "list-group-item list-group-item-action") do
-#     = department_clinic.clinic.clinic_name
.table-responsive.pt-5
  %table.table.table-sm
    %thead.bg-info.text-white
      %tr
        %th 地区ID
        %th 病院名
        %th よみがな
        %th 診療科
        %th 
    %tbody
      - @department.clinic_departments.each do |department_clinic|
        %tr{"data-link" => "#{clinic_path(department_clinic.clinic.id)}"}
          %td= department_clinic.clinic.location.area.name
          %td= department_clinic.clinic.clinic_name
          %td= department_clinic.clinic.clinic_furigana
          %td= department_clinic.clinic.departments.pluck(:department_name)
          %td= department_clinic.clinic.location.area.name

:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })

-# = debug department_clinic.clinic.id