%h2 gmap

:css
  #map { height: 300px;}
%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}=initMap"}
%script{src: "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{src: "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type: "text/javascript"}
#map
:javascript
  function initMap() {
    var latlng = new google.maps.LatLng(
      #{@clinic.location.latitude},
      #{@clinic.location.longitude}
      );
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: latlng
    });
    var marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
    var infowindow = new google.maps.InfoWindow({
      content: '<a href="https://www.google.com/maps/search/?api=1&query=#{@clinic.location.latitude},#{@clinic.location.longitude}" target="_blank" rel="noopener noreferrer">google mapで開く</a>',
    });
    infowindow.open(map, marker);
    google.maps.event.addListener(infowindow, "closeclick", function() {
      google.maps.event.addListenerOnce(marker, "click", function(event) {
        infowindow.open(map, marker);
      });
    });
  }
  initMap();
%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{ ENV['GOOGLE_API_KEY'] }&callback=initMap"}