!!!
%html
  %head
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %title FamilyDoctorFinder
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/header'
  %div{class: "container py-8"}
    = yield
